<div id="site">	
	<div id="wrapper1">
			<div class="center" id="home-text">
				<h1>Poll and See</h1>
				<p>We are the purpose of life.</p>
				<p>
					<%= link_to "Start", 'http://pollandsee.herokuapp.com/', class:"btn btn-large btn-primary" %>
				</p>
			</div>
	</div>
	<div id="wrapper2">
			<div id="text">
				<h3>Simple, robust, and powerful.</h3>
				<h3>We provide demographic insights.</h3>
			</div>
	</div>
	<div id="wrapper3">
			<div id="text">
				<h3>We represent the answer to life.</h3>
				<h3>Our proprietary analytics platform is unrivaled.</h3>
			</div>
	</div>
</div>